# Ignore all images
visits/*.jpg
static/visits/*.jpg
debug_*.jpg
static/*.png
thumbnails/*.jpg

# db to ignore
birdwatcher.db

# folders to ignroe
venv/
not_a_bird/
review/
visits/
images/

# Backup script
backup_to_minio.sh

# Logs
backup.log
detection_log.txt
hailort.log

# Python cache
*.pyc
__pycache__/

# Local virtual environment (if it exists)
birdenv/

# Editor configs
.vscode/
.idea/

# macOS system file
.DS_Store

# large model files
model/class_labels_v2.txt
model/efficientnet_b7_nabirds.onnx
model/class_labels_v3.txt
model/efficientnet_b7_backyard_feeder_birds.onnx

